header {
  padding: 30px 20px;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
header a {
  color: #4c44c1;
  text-decoration: none;
}
header .logo {
  float: left;
  margin-right: 28px;
}
header .logo img {
  width: 40px;
}
header .menu {
  float: left;
  position: relative;
  top: 20px;
}
header .menu a {
  text-transform: uppercase;
}
header .header-buttons {
  float: right;
}
header .header-buttons .blue-btn {
  background: #4c44c1;
  padding: 14px 46px;
  color: white;
  border-radius: 35px;
  text-transform: uppercase;
  position: relative;
  top: 20px;
}
header .header-buttons .blue-btn .fas {
  margin-left: 15px;
}
header .header-buttons .orange-btn {
  background: #fea83b;
  padding: 14px 46px;
  color: white;
  border-radius: 35px;
  text-transform: uppercase;
  position: relative;
  top: 20px;
}
